<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="/app/.nuget/packages" />
  </config>
  <packageSources>
    <clear />
    <add key="local-nupkgs" value="/tmp/local-nuget" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
